*{
    padding: 0 !important;
    margin: 0 !important;
}

.bg-top {
    height: 15vh;
    background-color: #009688;
}

.bg-body {
    height: calc(100vh - 15vh);
    background-color: #D7DBD8;
}

.modal-container {
    position: fixed !important;
    top: 5vh;
    right: 10vw;
    bottom: 0;
    left: 10vw;
    z-index: 99999;
    height: 90vh;
    background-color: #FFF;
    max-width: 80% !important;
}

.photo-icons {
    height: 7vh;
    background-color: #EEE;
}

.search {
    height: 5vh;
    background-color: #f8f8f8;
}

.contacts {
    height: calc(89.8vh - 12vh);
    border: 1px solid #f8f8f8;
}

.top-talks {
    height: 7vh;
    background-color: #EEE;
    border-left: 1px solid #D7DBD8;
}

.talks {
    height: calc(94.7vh - 12vh);
    background-image: url("/assets/images/bg-image.jpg");
    background-position: center;
    background-size: cover;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 4px 12px !important;
}

.material-icons {
    cursor: pointer;
}

.icons {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    background-color: #FFF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input input {
    padding: 0px 20px !important;
    border: 0px;
    width: 350px;
    border-radius: 100px;
}

input:focus {
    outline: 0;
}

input:focus .search-input {
    border-radius: 0px;
}

.list-group-custom-item {
    cursor: pointer;
    border: none !important;
    border-bottom: 1px solid #D7DBD8 !important;
    padding: 10px !important;
}