.bg-top {
    height: 15vh;
    background-color: #009688;
}

.bg-body {
    height: calc(100vh - 15vh);
    background-color: #D7DBD8;
}

.modal-container {
    position: fixed !important;
    top: 5vh;
    right: 10vw;
    bottom: 0;
    left: 10vw;
    z-index: 99999;
    height: 90vh;
    background-color: #EEE;
}

.bg-contacts-top {
    height: 7vh;
    background-color: #EEE;
}

.bg-search {
    height: 40px;
    background-color: #F8F8F8;
}

.bg-contacts {
    height: calc(575px - 40px - 50px);
    background-color: #FFF;
}

.talks-head {
    height: 7vh;
    background-color: #EEE;
    border-left: 1px solid #999;
}

.talks-talks {
    height: calc(89.6vh - 7vh);
    background-image: url("/assets/images/bg-image.jpg");
    background-position: center;
    background-size: cover;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

ion-icon {
    cursor: pointer;
    --ionicon-stroke-width: 32px;
    font-size: 25px;
  }